icons/*.svg
mathmemo_ui/mainwindow_ui.py
mathmemo_ui/mathmemo_rc.py
mathmemo_ui/settings_ui.py
editor.py
mathmemo.pro
pathhelper.py
peditor.py
syntax.py
syntaxnotes.txt
syntaxtest.py
testtexsyntax.py
ui/hide/
ui/formulaedit_ui.py
ui/mainwindow_ui.py
ui/mathmemo_rc.py
ui/settings_ui.py
xxx.txt

tmp/
.gitattributes
**/__pycache__/
.vscode/
.idea/
*.sw?

ui/*_ui.py
ui/*_rc.py

*.log
.coverage
output.prof

#
